/* @import 'core/settings';
@import 'core/links';
 */

* {
  box-sizing: border-box;
}

body {
	box-sizing: border-box;
	padding: 0px;
	margin: 0;
	height: 100vh;
	background: white;
	font-family: 'Montserrat', sans-serif;
}
ul{
	padding: 0;
}

.header{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	height: 100px;
	border-bottom: 10px solid #A78AFF;
}

.title{
	font-size: 45px;
	color: #5837B8;
	font-weight:100;
	//letter-spacing: 5px;
	
}
.container{
	height: 100%;
	background: white;
	display:flex;
	flex-direction: row;
}

.favourites_container{
	padding-top: 30px;
	margin-top: 30px;
	background: white;
	color: #5837B8;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 35%;
	height: 100%;
	border-right: 3px solid #A78AFF;
}

.search_container{
	background: white;
	width: 65%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.search_list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 50px;

}

.search_film{
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search_input{
	height: 30px;
	background-color: white;
	border-top: 0;
	border-left: 0;
	border-right:0;
	border-bottom: 3px solid #666666;
	opacity: 0.7;
	
} 

.search_input:hover{
	border-bottom: 3px solid #5837B8;
}

.search_button{
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.search_button:hover{
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#666666;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color: #ffffff;
	font-family:Arial;
	font-size:14px;
	padding:6px 15px;
	text-decoration:none;
	opacity: 0.7;
}
/* .search_button{
	height: 30px;
	border-radius: 5px;
} */

.selected{
	padding: 10px;
	background: #FFF17D;
	color: #5837B8;
	margin: 10px;
	border-radius: 5px;
}

.favourite_main_title{
	font-weight: 600;
	margin-bottom:10px;
}
.favourite_list{
	padding: 0;
}

.favourites_list{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.favourite_item{
	display:flex;
	flex-direction: row;
	list-style: none;
	justify-content: space-around;

}
.favourite_item_container{
	display: flex;
	flex-direction: row;

}
.favourite_img{
	height: 100px;
	margin-right: 10px;
	margin-bottom:15px;
}
.favourite_title{
	font-size: 14px;
	font-weight: 400;
} 

.delete_favourite{
	height: 20px;
	width: 20px;
	background-color: #5837B8;
	border:none;
	border-radius: 10px;
	color: white;
	text-align: center;
	margin-top: 5px;
}