<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Ejercicio final Modulo 2</title>
  <link rel="icon" href="favicon.png" />
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
  <main class="container">
    <section class="favourites-container">
      <div>
        <h1>Buscador de series</h1>
        <form><label for="search"></label>
          <input type="text" class="js-input" id="search" placeholder="Busca tu serie">
          <button class="js-button">Search</button>
        </form>
      </div>
      <div>
        <h2>Mis series favoritas</h2>
        <div class="js-favouritesDiv">
          <ul class="js-favouritesList">
          </ul>
        </div>
      </div>
    </section>

    <section class="search-container">
      <ul class="js-searchesList"></ul>
    </section>
  </main>
  <script type="text/javascript" src="../assets/js/main.js"></script>
</body>

</html>