<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Ejercicio final Modulo 2</title>
  <link rel="icon" href="favicon.png" />
  <link rel="stylesheet" href="../assets/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Coming+Soon|Montserrat:300,400,600,700,800&display=swap"
    rel="stylesheet">
</head>

<body>
  <header class="header">
    <h1 class="title">Buscador de series</h1>
  </header>
  <main class="container">
    <section class="favourites_container">
      <div>
        <form><label for="search"></label>
          <input type="text" class="js-input search_input" id="search" placeholder="Busca tu serie">
          <button class="js-button search_button">Search</button>
        </form>
      </div>
      <div>
        <h2 class="favourite_main_title">Mis series favoritas</h2>
        <div>
          <ul class="js-favouritesList favourites_list">
          </ul>
        </div>
      </div>
    </section>

    <section class="search_container">
      <ul class="search_list js-searchesList"></ul>
    </section>
  </main>
  <script type="text/javascript" src="../assets/js/main.js"></script>
</body>

</html>